// Here you can add other styles
.link {
	cursor: pointer;
}
.input-group.append-transparent .form-control {
	border-right: 0;
}
.input-group.append-transparent .input-group-text {
	border-left: 0;
	background-color: transparent;
}